<div id="app">
    <h1>Welcome to my website for exercise</h1>

    <h3>Here, type in your username and press enter</h3>

    <form action="/start" method="post">
        <input type="text" name="username" autofocus>
    </form>
</div>